*{
    margin: 0;
    padding:0;
}
body{
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
div{
    display: block;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #00A862;
}
.main{
    background: #FFF;
    position: fixed;
    top:0;
    bottom:0;
    width: 30%;
    left:0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
}
.main .container{
    overflow-x: hidden;
}
.container{
    height: 100%;
    width: 100%;
}

/*header开始*/
.header{
    height: 48px;
    padding: 24px;
}
.nav{
    float:left;
    margin-right: 12px;
    width: 36px;
}
.nav img{
    width: 36px;
}
.primary{
    overflow: hidden;
    display: inline-block;
}
.primary ul li {
    float:left;
}
.primary ul li a{
    color:inherit;
    font-weight: 700;
    font-size:16px;
    padding: 6px 10px 5px;
    display: block;
    letter-spacing: 1px;
}
.trigger{
    float:right;
    padding: 6px 0;
}
/*header结束*/

/*body开始*/
.h-body{
    height: calc(100% - 98px);
    display: table;
    width: 100%;
}
.middle{
    padding: 0 24px 0 84px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.middle-header{
    margin-bottom: 24px;
}
.middle-span1{
    font-weight: 700;
    font-size: 26px;
}
.fidder{
    overflow: hidden;
}
.fidder .sign{
    float: left;
    margin-right:24px;
    padding: 5px 0;
}
.fidder a img{
/*    margin-right: 2px;*/
    margin-top: -3px;
    vertical-align: middle;
}

/*.button{
    border: 1px solid #00A862;
    border-radius: 48px;
    font-weight: 500;
    background: none;
    box-sizing: border-box;
    padding: 2px 12px;
    display: inline-block;
    position: relative;
}*/
.button {
    background: none;
    border: 1px solid #00A862;
    border-radius: 48px;
    box-sizing: border-box;
    color: #00A862;
    display: inline-block;
    font-weight: 500;
    padding: 5px 14px;
    position: relative;
}
/*.button:after {
    background: rgba(0, 168, 98, 0.12);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    top: 50%;
    width: 6px;
}*/
/*body结束*/

/*overlay开始*/
.overlay{
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top:0;
    bottom:0;
    width: 30%;
    left:0;
    opacity: 0;
    background: #FFF;
    transition: all 0.1s linear;
    visibility: hidden;
    transform: scale(1.2);

}

.overlay .body {
    clear: both;
    margin: 0 auto;
    width: 100%;
    display: table;

}
.icon-shanchu{
    float:right;
    font-size:40px;
    color: #b3b3b3;
    display: block;
    margin-top:-3px;
}
.overlay .body .middle{
    overflow: hidden;
    box-sizing: border-box;
}
.table {
    width: 100%;
}
.table li a{
    color: inherit;
    display: block;
    padding: 8px 0;
    font-weight: 700;
    font-size: 1.1rem;
}
.table li hr{
    margin-bottom: 12px;
    margin-top: 12px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    height: 1px;
    width: 100%;
}
.footer{
    width: 100%;
    color: rgba(0, 0, 0, 0.12);
    margin-top:12px;
}
.footer a{
    color: rgba(0, 0, 0, 0.12);
}
.footer .container{

    margin: 0 24px 24px 84px;
}
.legal a{
    font-size:9px;
}
.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/*overlay结束*/

/*动画1024开始*/
@media (max-width: 1024px) and (min-width: 641px){
    .main{
        background: #FFF;
        box-sizing: border-box;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        position: relative;
        width: 100%;
    }
    .main .container .header {
        padding: 16px;
    }
    .h-body .middle{
        padding: 0 16px 0 16px;
    }
    .middle-header{
        margin-bottom: 16px;
    }
    .h-body .fidder{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .h-body .fidder a{
        margin-bottom: 12px;
    }
    .overlay{
        width: 100%;
    }

}
@media (max-width: 640px) {
    .main{
        background: #FFF;
        box-sizing: border-box;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        position: relative;
        width: 100%;
    }
    .main .container .header {
        padding: 16px;
    }
    .h-body .middle{
        padding: 0 16px 0 16px;
    }
    .middle-header{
        margin-bottom: 16px;
    }
    .h-body .fidder{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .h-body .fidder a{
        margin-bottom: 12px;
    }
    .overlay{
        width: 100%;
    }

}
/*动画1024结束*/


/*box开始*/
.box{
    width: 70%;
    margin-left: 30%;
    height: 1500px;
}
.hero{
    height: 499px;
    width: 100%;
}
.hero ul{
    width:300%;
}
.hero ul li{
    float:left;
}
/*box结束*/



















