*{
    margin:0;
    padding:0;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
.wrapper{
    width:1230px;
    margin:0 auto;
}
/*nav开始*/
.nav{
    height:33px;
    background:#f2f2f2;
    border-bottom: 1px solid #e5e5e5;
}
.nav-login a{
    color:#999;
    padding:0 10px;
    float:left;
}
.nav-login a:hover{
    color:#FF0036;
}
.nav-login{
    float:left;
    color:#999;
}
.nav-box{
    height:32px;
    line-height:32px;
}
.nav-login span{
    float:left;
}
.nav-login .login-btn{
    padding-left:20px;
}
.nav-menu{
    float:right;
}
.nav-menu>li{
    float:left;
}

.xian{
    color:#999999;
    width: 1px;
    height: 14px;
    border-left: 1px solid #ccc;
    padding:0 3px 0 5px;
    margin-left:7px;
}
.nav-link{
    display:block;
    padding:0 16px 0 10px;
    color:#999;
}

.nav-link span{
    color:#333;
}


.nav-menu a:hover{
    color:#FF0036;
    text-decoration: underline;
}
.sn-menu{
    position:relative;
}
.sn-menu::after{
    content:'';
    height:0;
    width:0;
    border-width:3px;
    border-style:solid;
    border-color:#999 transparent transparent transparent;
    position:absolute;
    right:6px;
    top:16px;
    transition:all 0.1s linear ;
    transform-origin: 3px 1.5px;

}
.sn-menu:hover{
    background:white;
    height:33px;
}
.sn-menu:hover .nav-link{
    display:block;
}
.sn-menu:hover .sub-sn-menu{
    display:block;
}
.sn-menu:hover .su-menu-shang{
    display:block;
}
.sn-menu:hover::after{
    transform: rotate(180deg);
    /*top:13px;*/
}
.dh a:hover{
    text-decoration:none;
}
.sub-sn-menu {
    background:#fff;
    border:1px solid #e5e5e5;
    border-top:none;
    position:absolute;
    padding:10px 8px;
    width:74px;
    top:33px;
    left:-1px;
    display:none;
}
.sub-menu-item{
    line-height:18px;
    height: 18px;
}
.sub-menu-item a{
    color:#999;
}
.sub-sn-menu0{
    width:60px;

}
.su-menu-shang{
    background:#fff;
    border:1px solid #e5e5e5;
    border-top:none;
    position:absolute;
    padding:10px 8px;
    width:130px;
    top:33px;
    left:-1px;
    display:none;
}
.su-menu-shang a{
    color:#999;
}
.su-menu-shang span{
    color:#999;
}
.su-shang-menu{
    float:left;
    padding:0 7px;
    line-height:18px;
    height: 18px;
}
.d1,.d2,.d3,.d4,.d5{
    float:left;
}
.d1{
    color:#333;
    padding:0 7px;
    line-height:18px;
}
.d4{
    color:#333;
    padding:0 7px;
    line-height:29px;
}
.d3{
    color:#999;
    line-height:1px;
}
.d5{
    color:#999;
    line-height:0px;
}
.icon-gouwucheman,.icon-shouji,.icon-liebiao{
    color:red;
}
/*nav结束*/

