.logo{
    width:240px;
    height:130px;
    float:left;
}
.search-box{
    float:left;
    margin:38px 0 0 120px;

}
.search{
    width: 625px;
    height: 36px;
    border:2px solid #FF0036;
}
.search-text{
    width: 491px;
    height: 36px;
    border:none;
    outline:none;
    float:left;
}
.search-btn{
    width:134px;
    height:36px;
    border:none;
    background:#FF0036;
    float:left;
    font-size:18px;
    color:#fff;
}
.search-zhu{
    width:625px;
    height:28px;
}
/*.search-zhu:hover a{
    color:#FF0036;
}*/
.zhu a{
    float:left;
    padding:2px 12px;
    color:#999;
}
.zhu-xian{
    position:relative;
    width: 1px;
    height: 14px;
    border-left: 1px solid #ccc;
    top:3px;
    color:#999999;
}
.zhu-xian,.zhu{
    float:left;
}
.zhu0 a{
    color:#FF0036;
}

.nav-logo{
    height:130px;
}
.content{
    background: #ffffff;
    float:left;
}
.main-nav{
    height: 35.5px;
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 1.5px;
    border-color: #FF0036;
    width:1903px;
}
.main-nav .main-nav-menu{
    height:36px;
    line-height:36px;
}
.main-nav-menu{
    margin:0 auto;
    width: 1030px;
}
.main-menu a {
    float: left;
    padding: 0 8px;
    height: 35px;
    font-weight: 500;
    font-size:16px;
    color:#333;

}
.main-menu a img{
    width: 100px;
    height: 30px;
    margin-top: 3px

}
