/*search start*/
.logo{
    width:240px;
    height:130px;
    float:left;
}
.search-box{
    float:left;
    margin:38px 0 0 120px;
}

.search{
    width: 625px;
    height: 36px;
    border:2px solid #FF0036;
}
.search-text{
    width: 491px;
    height: 36px;
    border:none;
    outline:none;
    float:left;
}
.search-btn{
    width:134px;
    height:36px;
    border:none;
    background:#FF0036;
    float:left;
    font-size:18px;
    color:#fff;
}
.search-zhu{
    width:625px;
    height:28px;
    margin-top:3px;
    margin-left:-12px;
}

.zhu a{
    float:left;
    padding:2px 12px;
    color:#999;
    font-size:14px;
}
/*.zhu-first a{
    padding-left:0
}*/
.zhu-xian{
    position:relative;
    width: 1px;
    height: 14px;
    border-left: 1px solid #ccc;
    top:6px;
    color:#999999;
}
.zhu-xian,.zhu{
    float:left;
}
.zhu0 a{
    color:#FF0036;
}
.nav-logo{
    height:130px;
}
/*search end*/

/*menu*/
.main-nav{
    height: 35.5px;
    border-bottom: 1.5px solid #FF0036;
}
.main-menu{
    float:left;
    height:36px;
    line-height:36px;
}

.main-nav-menu{
    width: 1030px;
    margin-left: 249px;
}
.main-menu a {
    float: left;
    padding: 0 8px;
    height: 30px;
    font-size:16px;
    color:#333;
    display:block;
    font-weight:500;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.main-menu a img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
}


/*轮播图*/
.slide-box{
    position:relative;
}
.slide-item{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:-1;
}
.slide-item1{
    background:#1da3ec;
}
.slide-item2{
    background:#5a0234;
}
.slide-item3{
    background:#ffa699;
}
.slide-item4{
    background:#e8e8e8;
}
.slide-item5{
    background:#0865e5;
}
.slide-item6{
    background:#198ee1;
}

.slide-item-link{
    width:1230px;
    margin: 0 auto;
    display:block;
}
.slide-item-link img{
    width:1230px;
    height:500px;
    display:block;
}

/*category*/
.category-title{
    height:36px;
    line-height: 36px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    font-size:16px;
    font-weight:600;
    color:#fff;
    background:#FF0036;
}
.category-box{
    width:200px;
    position:relative;
    top:-36px;
    height:500px;
}
.category-list{
    background:rgba(0,0,0,0.55);
   /* background: #000;
    opacity: 0.55;*/
    height:500px;
}
.category-box .a{
    color:#fff;
    margin:0 14px;
}
.category-item{
    height:31.2px;
    line-height: 31.2px;
}
.category-item>a{
    color:#fff;
    font-size:14px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    -webkit-font-smoothing: antialiased;
}
.category-item:hover>a,.category-item:hover>i{
    color:#FF0036;
}
.category-item:hover{
    background: #fff;
}
.category-item:hover .category-pannel{
    display:block;
}
.icon-liebiao2{
    font-size:17px;
}

.category-pannel{
    background: #fff;
    height: 500px;
    width: 852px;
    position:absolute;
    left:200px;
    top:36px;
    display:none;
}
.pannel{
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    background-color: #fff;
    float:left;
}
.pannel-1-title{
    width: 60px;
    color: #333;
    margin-right: 30px;
    position: relative;
    height:22px;
    float: left;
    margin-top:2px;
}
.title-text{
    float:left;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    font-weight: 900;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.pannel-menu{
    float:left;
    width:493px;
}
.pannel-1-one{
    float:left;
    margin-top:0;
    height:22px;
}
.pannel-1-one a{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    margin-left: 13px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.pannel-1-special a{
    color:#e54077;
}
.pannel-1-one:hover a{
    color:#e54077;
}
.pannel-xian{
    margin-bottom: 10.5px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0,0,0,.1);
    height: 10.5px;
    float:left;
}
.icon-dayuhao{
    color:#333;
    float:left;
    font-size: 14px;
    font-weight: 100;
    height: 22px;
    line-height: 22px;
    position:absolute;
    top:0;
    left:60px;
}
.pannel-picture{
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
    float:left;
}
.picture-always img{
    width: 73px;
    display: block;
    margin: 0 auto;
}
.pannel-picture .picture-always{
    float: left;
    width: 73px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #fff;
}
.pannel-picture .picture-feature{
    float:left;
    border-top: 10px solid #fafafa;
}
.picture-feature img{
    width: 189px;
    height: 87px;
    float:left;
}

/*blank 开始*/
.tmall-concent{
    background: #eeeeee;
    padding-top:32px;
    /*border:1px solid transparent;*/
}
.brand-wrapper{
    /*margin-top:32px;*/
    /*设置高度或者hidden*/
    /*height:370px;*/
    overflow:hidden;
}
.brand-item{
    width: 234px;
    margin-right:13px;
    float:left;
}
.brand-item1{
    width: 485px;
    margin-right:13px;
    float:left;
}
.brand-item2{
    width: 485px;
    float:left;
    margin-right:0;
}
.en{
    background: #ffffff;
    height:55px;
    line-height:55px;
    color:#333;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.b-title{
    margin-left:10px;
    font-size:18px;
    font-weight: bold;
}
.b-sale{
    font-size:14px;
    font-weight: bold;
    margin-left:10px;
}
.b-genduo{
    float:right;
    margin-right:17px;
    color: #9d9d9d;
    font-size:16px;
    font-weight: 300;
    padding-top:2px;
}
.b-genduo span{
    color:#333;
    padding-right:6px;
}
.b-img{
    width:100%;
}
.b-img:hover{
    opacity: 0.7;
    filter:alpha(opacity= 70);
}
/*blank 结束*/

/*blank-list 开始*/
.brand-list-wraper{
    margin-top:10px;
}
.brand-list{
    overflow:hidden;
    background:#f9f9f9;
}
.brand-list-item{
    width: 122px;
    height: 108px;
    background: #fff;
    /*margin-top:29px;*/
    padding-top:29px;
    box-sizing: border-box;
    float:left;
    margin-right:1px;
    margin-bottom:1px;
    position:relative;

}
.brand-list-item img{
    height:50px;
    width:100px;
    display:block;
    margin:0 auto;
}
.brand-list-hover{
    width:122px;
    height:108px;
    color: #ffffff;
    background: rgba(0,0,0,0.75);
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.brand-list-word{
    margin-top:30px;
    text-align: center;
}
.brand-list-btn{
    text-align: center;
    background: #ff0036;
    border-radius:10px;
    margin:5px auto;
    display: block;
    width: 65px;
    height: 17px;
    line-height: 18px;
}
.brand-list-item:hover .brand-list-hover{
    display:block;
}
/*blank-list 结束*/