$color:red;
.div{
  color:$color;
}
.div1{
  color:#fff;
  .box{
    font-size:12px;
    .content{
      font-weight: bold;
    }
  }
}
.div2{
  height: 100px;
  &:hover{
    width: 100px;
  }
  &-header{
    color:blue;
  }
}
.div3{
  height: 100px + 200px;
  width: 100px - 50px;
}
.div4{
  height: 100*10px;
  width: (100px)/2;
}
.div5{
  @extend .div4
}
@import "base.scss";

@mixin mm($h,$w:50px){
  height: $h;
  width: $w;
}
.div6{
  @include mm(100px);
}
.div7{
  border:{
    left:{
      color:yellow;
    }
    right:{
      width: 2px;
    }
  }
  background:{
    repeat: no-repeat;
    color: #00b262;
  }
}