$color:red;
.div{
  color:$color;
}
.div1{
  color:#fff;
  .box{
    font-size:12px;
    .content{
      font-weight: bold;
    }
  }
}
.div2{
  height: 100px;
  &:hover{
    width: 100px;
  }
  &-header{
    color:blue;
  }
}
.div3{
  height: 100px + 200px;
  width: 100px - 50px;
}
.div4{
  height: 100*10px;
  width: (100px)/2;
}
.div5{
  @extend .div4
}
@import "base.scss";

@mixin mm($h,$w:50px){
  height: $h;
  width: $w;
}
.div6{
  @include mm(100px);
}
.div7{
  border:{
    left:{
      color:yellow;
    }
    right:{
      width: 2px;
    }
  }
  background:{
    repeat: no-repeat;
    color: #00b262;
  }
}

$num1 : "a";
.div8{
  background-image: url($num1 + '.jpg');
}
.div9{
  color:lighten(rgb(0,0,225),20%);
}
.div10{
  color:darken(rgb(0,0,225),20%);
}
.div11{
  color:opacify(rgb(0,0,225),.3);
}
.div11{
  color:transparentize(rgb(0,0,225),.3);
}

$m:(light:#fff,dark:#000);
.div12{
  color:map-get($m,light);
}
@function foo($key){
  @if($key == 1){
    @return blue;
  }
  @else{
    @return white;
  }
}
.div13{
  color:foo(1);
}

@for $var from 1 to 5{
  .div-content-#{$var}{
    height: $var + px;
  }
}
@for $var from 1 through 5{
  .div-content1-#{$var}{
    height: $var + px;
  }
}

$mm : a,b,c,d;
@each $var in $mm{
  .div-footer-#{$var}{
    background: #000;
  }
}

$i:0;
@while ($i < 10){
  .div-footer1-#{$i}{
    height: $i + px;
  }
  $i:$i+1;
}